$blue: #2355da;
$green: #00f349;

.navbar_wrap {
  .nav_toggle {
    background: #0aa5aa;
    transform: scaleX(0.8);
  }

  .navbar_nav {
    position: relative;
  }

  .nav_item_wrap {
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr) 2fr;
    justify-items: center;
    align-items: center;

    .nav_item {
      color: #464646;
      text-decoration: none;
      padding: 1em;

      &:hover {
        color: $blue;
      }
    }

    .drop_item {
      &:hover {
        color: $blue;
      }
    }
  }

  .activeLink {
    color: #0aa5aa;
  }

  .btn_group {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1em;
    line-height: 1.5em;
    align-items: center;

    .button_get_free_quote {
      color: $blue !important;
      border: 1px solid $blue;
      border-radius: 3em;
      text-transform: none;

      &:hover {
        color: #fff !important;
        background: $blue;
        transition: 0.5s;
      }
    }
    .button_to_call {
      color: $green !important;
      border: 1px solid $green;
      border-radius: 3em;
      text-transform: none;

      &:hover {
        color: #fff !important;
        background: $green;
        transition: 0.5s;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar_nav {
    .nav_item_wrap {
      position: static;
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 2em) 3.5em;
      justify-items: start;
      background: #f8f8f8;
      grid-gap: 1em;
      padding-bottom: 1em;

    }
  }
}
