$blue: #2355da;
$green: #00f349;

.navbar_wrap {
  .nav_toggle {
    background: #0aa5aa;
    transform: scaleX(0.8);
  }

  .navbar_nav {
    display: flex;
    justify-content: flex-end;

    .nav_item_wrap {
      font-weight: 600;
      text-transform: uppercase;
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      font-size: 0.95em;

      .nav_item {
        color: #3a3a3a !important;
        text-decoration: none;
        padding: 1em 1.5vw;

        &:hover {
          color: $blue !important;
        }
      }

      .drom_item {
        .drop_link {
          &:hover {
            color: $blue !important;
          }
          &:hover .drop_item_icon {
            color: $blue !important;
          }
        }
        .drop_menu {
          background: #f8f8f8;
          text-transform: none;

          .drop_item_icon {
            padding-top: 0.3em !important;
            color: #8a8a8a !important;
          }
        }
      }
    }
  }

  .btn_group {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1em;
    align-items: center;
    text-align: center;

    .button_get_free_quote {
      color: $blue !important;
      border: 2px solid $blue;
      border-radius: 3em;
      text-transform: none;
      padding: 0.6em 1em;
      white-space: nowrap;

      &:hover {
        color: #fff !important;
        background: $blue;
        transition: 0.5s;
      }
    }
    .button_to_call {
      color: $green !important;
      border: 2px solid $green;
      border-radius: 3em;
      text-transform: none;
      padding: 0.6em 1em;
      white-space: nowrap;

      &:hover {
        color: #fff !important;
        background: $green;
        transition: 0.5s;
      }

      .phone_icon {
        font-size: 1.2em;
        transform: translateY(0.2em);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar_wrap {
    padding: 0 !important;

    img {
      padding-left: 1em;
    }
    button {
      margin-right: 1em;
    }

    .navbar_nav {
      justify-content: flex-start;

      .nav_item_wrap {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 2em) 3.5em;
        justify-items: start;
        background: #f8f8f8;
        grid-gap: 1em;
        padding: 0.5em 0 1em 0;
        width: 100%;

        li {
          border-top: 1px solid #dadada;
          width: 100%;
          height: 3em;
          line-height: 3em;
          padding-left: 1em;

          .drop_link {
            transform: translateY(-1em);
          }
        }

        .btn_group {
          height: 5.2em;
          line-height: 1.5em;
          display: flex;
          justify-content: center;

          a {
            margin-right: 1em;
          }
        }
      }
    }
  }
}
