.navbar_wrap {

  .nav_toggle {
    background: #0aa5aa;
    transform: scaleX(.8);
  }

  .navbar_nav {
    position: relative;
  }

  .nav_item_wrap {
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr) 15em 1fr;
    justify-items: center;
    align-items: center;

    .nav_item {
      color: #464646;
      text-decoration: none;
      padding: 1em;

      &:hover {
        color: #3a3aff;
      }
    }

    .drop_item {
      &:hover {
        color: #3a3aff;
      }
    }
  }

  .activeLink {
    color: #0aa5aa;
  }

  .button_get_free_quote {
    color: #3a3aff;
    border: 1px solid #3a3aff;
    border-radius: 3em;
    text-transform: none;

    &:hover {
      color: #fff;
      background: #0101e0;
      transition: 0.5s;
    }
  }
  .button_to_call {
    border: 1px solid #00f349;
    border-radius: 3em;
    text-transform: none;

    &:hover {
      color: #fff;
      background: #00f349;
      transition: 0.5s;
    }

    img {
      transform: rotate(270deg);
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar_nav {
    .nav_item_wrap {
      position: static;
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 2em) 3.5em 3.5em;
      justify-items: start;
      background: #f8f8f8;
      grid-gap: 1em;
      padding-bottom: 1em;

      .nav_item {
        // border-top: 1px solid #e2e2e2;
      }
    }
  }
}
