.footer {
  padding: 2em 0;

  .footer_content_group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
    grid-gap: 1em;
    background: #f9fafd;
    padding: 3em 2em;

    .footer_text {
      padding: 0 1em;
    }

    li {
      list-style: none;
      a {
        text-decoration: none;
        color: black;
      }
      h3 {
        margin: 1em 0;
      }
      .icon {
        font-weight: 700;
        transform: translateY(0.3em);
      }
    }

    ul {
      display: grid;
      grid-gap: 1em;
    }

    img {
      height: 4em;
      margin-bottom: 2em;
    }

    .footer_contacts {
      display: grid;
      grid-gap: 2em;
      .skype_logo {
        width: 1.2em;
        height: 1.2em;
        margin: 0 0.4em 0 0.3em;
      }
    }
  }
  .footer_foot {
    padding: 0 1em;
    display: grid;
    justify-items: center;
    height: 1em;
    line-height: 1em;
  }
}
.social_links_list {
  padding: 2em 3em 0;
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  grid-gap: 1em;

  li a {
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
    img {
      margin-right: 0.5em;
    }
  }
}
@media screen and (max-width: 768px) {
  .footer {

    .footer_content_group {
      padding: 2em 1em;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: start;
      grid-template-rows: fit-content 19em 19em 15em 10em;
      grid-gap: 1em;

      ul {
        display: grid;
        grid-gap: .5em;

        li h3 {
          margin: 0;
        }
      }

      .footer_text {
        padding: 0;
      }
    }
  }
  .social_links_list {
    display: grid;
    grid-auto-flow: row;
    font-size: .8em;
  }
}
